:root {
  --primary-text-color: #757575;
  --primary-bcg-color: #141313;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --accent-color: rgba(252, 214, 1, 0.685);
  --title-color: #212121;
  --primary-white-color: #ffffff;
  --logo-color: #c2970aec;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --border-color: #ececec;
  --border-card: #eeeeee;
  --icon-fill: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-bcg-color);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1785;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.section--work {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--work {
    display: none;
  }
}

.section--team {
  background-color: var(--secondary-bcg-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(54, 54, 54, 0.5);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-bcg-color);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.container.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:focus, .site-nav__link:hover {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    padding: 14px 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-bottom: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contact__link:focus .contact__icon,
.contact__link:hover .contact__icon {
  fill: currentColor;
}

.contact__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding: 16px 0;
  color: var(--logo-color);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.logo-span {
  color: var(--accent-color);
}

.logo__footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo__footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  overflow: auto;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 25px;
  max-width: 100%;
  background-color: var(--primary-bcg-color);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 48px 40px;
  max-width: 480px;
}

.mobile-toggle {
  height: 40px;
  width: 40px;
  display: block;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: var(--primary-white-color);
}

.mobile-toggle:hover, .mobile-toggle:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-toggle {
    display: none;
  }
}

.mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-list__link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  text-decoration: none;
}

.mobile-list__link:hover, .mobile-list__link:focus {
  color: var(--accent-color);
}

.mobile-list__link--current {
  color: var(--accent-color);
}

.mobile-list__icon {
  margin-right: 10px;
  fill: var(--primary-white-color);
}

.info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-nav__item:not(:last-child) {
  margin-right: 20px;
}

.info-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-white-color);
}

.info-nav__registration {
  color: var(--primary-white-color);
  text-decoration: none;
}

.hitset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.hitset__item {
  -ms-flex-preferred-size: calc((100% - 40px) / 4);
      flex-basis: calc((100% - 40px) / 4);
  margin-top: 10px;
  margin-left: 10px;
}

.hitset-style {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hitset-style:hover, .hitset-style:focus {
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

.hitset-style__content {
  margin: 0;
  padding: 10px 5px;
  background-color: rgba(54, 54, 54, 0.5);
  border: 1px solid rgba(54, 54, 54, 0.5);
  border-radius: 4px;
}

.hitset-style__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hitset-style__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--accent-color);
  margin-right: 3px;
}

.hitset-style__mark {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: grey;
}

.hitset-style__movie {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hitset-style__movie:hover, .hitset-style__movie:focus {
  text-decoration: underline;
}

.hitset-style__tickets {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.news-top {
  margin-bottom: 20px;
}

.news-top__image {
  margin-bottom: 10px;
}

.news-top__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.news-top__link:focus, .news-top__link:hover {
  color: var(--accent-color);
}

.news-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-white-color);
  border-top: 1px solid var(--primary-white-color);
}

.news-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.news-list__image {
  width: 33%;
  margin-right: 10px;
}

.news-list__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.news-list__link:focus, .news-list__link:hover {
  color: var(--accent-color);
}

.news__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: var(--accent-color);
  color: #000000;
  margin-bottom: 20px;
}

.release-cinema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
}

.release-cinema__title {
  color: var(--primary-white-color);
  padding-top: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.release-cinema__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 20px) / 2);
      flex-basis: calc((100% - 20px) / 2);
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.release-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.release-movie__item:not(:last-child) {
  margin-right: 10px;
}

.release-movie__date {
  color: var(--accent-color);
  padding-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.release-movie__month {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.release-movie__image {
  width: 50px;
  height: 80px;
}

.release-movie__link {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.release-movie__link:hover, .release-movie__link:focus {
  color: var(--accent-color);
  text-decoration: underline;
}

.release-movie__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */