.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  overflow: auto;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 25px;
  max-width: 100%;
  background-color: var(--primary-bcg-color);
  @include transition(opacity);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 48px 40px;
  max-width: 480px;
}

.mobile-toggle {
  height: 40px;
  width: 40px;
  display: block;

  margin: 0;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: var(--primary-white-color);
  // background-color: rgba(128, 128, 128, 0.493);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-toggle {
    display: none;
  }
}

.mobile-list {
  display: flex;
  flex-direction: column;
}

.mobile-list__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-list__link {
  @include font(500, 22px, 1.175, 0.02em);
  color: var(--primary-white-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-list__link--current {
  color: var(--accent-color);
}

.mobile-list__icon {
  margin-right: 10px;
  fill: var(--primary-white-color);
}

.info-nav {
  display: flex;
  align-items: center;
}

.info-nav__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.info-nav__icon {
  display: flex;
  align-items: center;
  fill: var(--primary-white-color);
}

.info-nav__registration {
  color: var(--primary-white-color);
  text-decoration: none;
}
