.hitset {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;

  margin-left: -10px;
  margin-top: -10px;
  @media screen and (min-width: 1200px) {
    margin-top: -30px;
    margin-left: -30px;
  }

  // display: grid;
  // grid-template-rows: 1fr 1fr;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 3vw;
}

.hitset__item {
  flex-basis: calc((100% - 40px) / 4);
  margin-top: 10px;
  margin-left: 10px;
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.hitset-style {
  @include transition(box-shadow);
  &:hover,
  &:focus {
    box-shadow: var(--card-shadow);
  }
}

.hitset-style__content {
  margin: 0;
  padding: 10px 5px;
  background-color: rgba(54, 54, 54, 0.5);
  border: 1px solid rgba(54, 54, 54, 0.5);
  border-radius: 4px;
}

.hitset-style__wrapper {
  display: flex;
  align-items: baseline;
}

.hitset-style__image {
}

.hitset-style__icon {
  display: inline-flex;
  align-items: center;
  fill: var(--accent-color);
  margin-right: 3px;

  @media screen and (min-width: 768px) {
    width: 11px;
    height: 11px;
  }
}

.hitset-style__mark {
  @include font(400, 10px, 1, 0.02em);
  color: grey;

  @media screen and (min-width: 768px) {
    @include font(400, 14px, 1.17);
  }
}

.hitset-style__movie {
  @include font(400, 8px, 1.17, 0.02em);
  color: var(--primary-white-color);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 1.17);
  }
}

.hitset-style__tickets {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  @include font(400, 8px, 1, 0.02em);

  @media screen and (min-width: 768px) {
    @include font(700, 16px, 1.17);
  }
}
