.release-cinema {
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
}

.release-cinema__title {
  color: var(--primary-white-color);
  padding-top: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.release-cinema__item {
  display: flex;
  flex-basis: calc((100% - 20px) / 2);
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.release-movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.release-movie__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.release-movie__date {
  color: var(--accent-color);
  padding-left: 10px;
  @include font(700, 16px, 1.17);
}

.release-movie__month {
  @include font(400, 14px, 1.17);
  color: var(--primary-white-color);
}

.release-movie__image {
  width: 50px;
  height: 80px;
}

.release-movie__link {
  color: var(--primary-white-color);
  @include font(400, 10px, 1.17);
  &:hover,
  &:focus {
    color: var(--accent-color);
    text-decoration: underline;
  }
}

.release-movie__text {
  @include font(400, 10px, 1.17);
}
