.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(54, 54, 54, 0.5);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container--news {
  @media screen and (min-width: 1200px) {
    width: 1000px;
  }
}

.container--top {
  @media screen and (min-width: 1200px) {
    width: 200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container--serials {
  @media screen and (min-width: 1200px) {
    width: 200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
