.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  @include font(700, 28px, 1.1785);
  text-align: center;

  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    @include font(700, 36px, 1.66);
    margin-bottom: 50px;
  }
}

.section--work {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--team {
  background-color: var(--secondary-bcg-color);
}
