.section {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-bcg-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  padding-top: 10px;
  margin-bottom: 10px;
  @include font(700, 20px, 1.1785);

  color: var(--primary-white-color);
  background-color: grey;
  text-decoration: underline;

  @media screen and (min-width: 1200px) {
    @include font(700, 36px, 1.66);
    margin-bottom: 50px;
  }
}

.section--work {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--team {
  background-color: var(--secondary-bcg-color);
}

.section--top {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 0;
    background-color: rgba(54, 54, 54, 0.5);
  }
}

.section--serials {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(54, 54, 54, 0.5);
  }
}
