:root {
  --primary-text-color: #757575;
  --primary-bcg-color: #e5e5e5;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --accent-color: #2196f3;
  --title-color: #212121;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --border-color: #ececec;
  --border-card: #eeeeee;
  --icon-fill: #afb1b8;
}
